<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{ page.title }}</title>
  {{# page.description }}
    <meta name="description" content="{{ . }}">
  {{/ page.description }}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin,cyrillic-ext,latin-ext,cyrillic" /> -->
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"> -->

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {{{ assets }}} 

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>
  <body>
  <div id="wrapper">
      <header class="site-header">
          <div class="container">
              <div class="site-title-wrapper">
                  <h1 class="site-title"><a class="js-ajax-link" href="{{ site.config.production_url }}" title="{{ site.title }}">{{ site.title }}</a></h1>
                  <a class="button-square" href="{{ site.url }}/rss.xml"><i class="fa fa-rss"></i></a>
          </div>
          <ul class="site-nav">
            {{# site.navigation?to_pages }}
              {{> pages_list }}
            {{/ site.navigation?to_pages }}
          </ul>
      </div>
      </header>
 <div id="ajax-container">
     <div id="post-index" class="container">
        {{{ content }}}
     </div>
    </div>

  </div>

   
 <footer class="footer">
        <div class="container">
            <div class="site-title-wrapper">
                <h1 class="site-title"><a class="js-ajax-link" title="{{ site.title }}" href="{{ site.config.production_url }}">{{ site.title }}</a></h1>

                <a class="button-square button-jump-top js-jump-top" href="#"><i class="fa fa-angle-up"></i></a>
            </div>

            <p class="footer-copyright">&copy; {{date format="YYYY"}} / Published with <a href="http://github.com/wendal/gor">Gor</a> / <a href="https://github.com/zerob13/gor-theme-blink">gor-theme-blink </a> By <a href="http://zerob13.in">zerob13</a> Fork from <a href="https://github.com/roryg/ghostwriter">Ghostwriter theme</a></p>
        </div>
    </footer>


    </div> <!-- /container -->

    {{{ google_prettify }}}
    {{{ analytics }}}
  </body>
</html>
