---
layout : default
---
<!-- <div class="container"> -->
        <article class="post-container {{post_class}}">
            <header class="post-header">
                <h1 class="post-title">{{ page.title }}</h1>

                <!-- <p class="blog-description">{{@blog.description}}</p> -->
            </header>

            <div class="post-content">
                {{{ content }}}

            </div>
        </article>
<!-- </div> -->
<!-- <div class="page-header"> -->
<!--   <h1>{{ page.title }} {{# page.tagline }} <small>{{ . }}</small>{{/ page.tagline }}</h1> -->
<!-- </div> -->

<!-- <div class="row"> -->
<!--   <div class="span12"> -->
<!--     {{{ content }}} -->
<!--   </div> -->
<!-- </div> -->
